html, body {
  height: 100%;
  width: 100%;
  font-family: 'Nunito', sans-serif;
}

body {
  margin: 0
}

p {
  padding: 0 20px;
  max-width: 600px;
}

header {
  height: 70px;

  display: flex;
  justify-content: center;
  align-items: center;
}

header > a {
  color: black;
  margin: 0 10px;
  text-decoration: none;
}

header > a:hover {
  text-decoration: underline;
}

.container {
  width: 100%;
  min-height: calc(100% - 170px);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.moto {
  font-weight: normal;
}

.nirnroot-img {
  text-align: center;
  height: auto;
  width: 50%;
  border-radius: 25px;
}

footer {
  width: 100%;
  font-size: 14px;
  text-align: center;
  height: 100px;
  margin-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > p {
  margin: 0;
}
